---
# API pages style
---

@import "variables";
@import "markdown";
@import "usage";


@media ( max-width: 768px ) {
section#list  {
padding-top: 30% !important;
}
}


section#list {
  padding: 10% 0 10%;
  h2 {
    color: $simulation-color;
    padding: 0 0 2em;
    text-transform: none;
    font-size: 1.2rem;
  }
  .ui.card, .ui.cards>.card {
    border: solid 1px $simulation-color;
    box-shadow: none;
  }
}
#mission-statement {
  padding-top: 10%;
  padding-bottom: 5%;
  margin-bottom: 2%;

  h1 {
    padding: .2em 0;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;

    i.icon {
      height: inherit;
    }
  }

  h3 {
    padding: .2em 0;
    line-height: 2rem;
    letter-spacing: 2px;
    font-weight: 400;
  }

  background: $backgroundBlue;

  .large.ui.secondary.button {
    margin: 10px;
    color: #fff;
    border: solid 2px #fff;
    background-color: transparent;
  }
}
#description {
  padding: 0 0 10%;
  h4 {
    font-weight: 400;
    color: $simulation-color;
    margin: 0;
  }
#atouts {
  h4 {
    padding-bottom: 20px;
     text-align: center;
  }
 
  border: solid 2px lightgrey;
  border-radius: 4px;
}
.eight.wide.column:first-child {
  border-right: solid 2px rgba(40, 167, 208, 0.3);
}

.eight.wide.column:nth-child(2) {
padding-left: 7%; 
}
  ul li {
    font-size: 80%;
  }

  h6 {
    font-weight: 600;
  }
  a.item {
  color: $simulation-color;
  text-transform: uppercase;
  font-weight: 400;
}
.ui.secondary.pointing.menu .active.item {
  border-color: $simulation-color;
  border-bottom-width: 4px;
}
.ui.secondary.pointing.menu {
  border-color: rgba(40, 167, 208, 0.3);
}
  .metadata {
    margin-top: -1em;
    z-index: -200;

    ul {
      margin-top: 0.3em;
      margin-bottom: 0.6em;
    }
  }

  .ribbon {
    z-index: 200;
  }

  .logoWrapper {
    text-align: center;
  }
  .markdown-body {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .menu {
    margin-bottom: 2em;
    .item {
      font-size: 1.2em;
    }
  }
  .swagger-section {
    .info_title {
      display: none;
    }
  }

  #validator {
    display: none
  }
  .ui.statistic {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    &>.value {
        font-size: 3rem!important;
    }
  }
}
#callToAction {
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 2%;

  background: $backgroundBlue;
}

#usages {
  margin-bottom: 100px;
  padding-bottom: 50px;
}

