---
layout: default
additional_css: homepage
---

  <!-- Open Graph data -->
  <meta property="og:title" content="consultation.gouv.fr" >
  <meta property="og:type" content="website">
  <meta property="og:description" content="Les outils de consultations en ligne" >
  <meta property="og:image" content="/img/logo.svg" >

  <title>consultation.gouv.fr</title>

  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" >


  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/site.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/reset.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/header.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/container.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/button.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/grid.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/input.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/icon.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/segment.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/item.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/image.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/divider.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/card.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/embed.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/label.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/search.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/table.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/popup.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/rail.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/list.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/tab.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/message.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/menu.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/accordion.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/dropdown.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/transition.min.css">
  <link rel="stylesheet" type="text/css" class="ui" href="//cdn.jsdelivr.net/semantic-ui/2.2/components/statistic.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/2.1.3/css/screen.min.css" >

  <script src="https://use.fontawesome.com/a87e8658c9.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
  

  <script src="//cdn.jsdelivr.net/jquery/2.2.1/jquery.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"></script>
  <script src="//cdn.jsdelivr.net/semantic-ui/2.2/components/transition.min.js"></script>
  <script src="//cdn.jsdelivr.net/semantic-ui/2.2.9/components/embed.min.js"></script>
  <script src="//cdn.jsdelivr.net/semantic-ui/2.2/components/dropdown.min.js"></script>
  <script src="//cdn.jsdelivr.net/semantic-ui/2.2/components/tab.min.js"></script>
  <script src="//cdn.jsdelivr.net/semantic-ui/2.2/components/search.min.js"></script>
  <script src="//cdn.jsdelivr.net/semantic-ui/2.2/components/popup.min.js"></script>
  <script src="/js/unidecode.min.js"></script>
  

</head>


<body>

  <div id="wrapper">
    <div id="page">
      <header>
        <nav class="ui secondary menu">
         <a href="/index.html">
            <img id="header-logo" alt="Brand" src="/img/logo-long.svg" width="360" height="50"></a>
          <!--<a class="medium screen only item" href="/apis">Liste des outils</a>-->
          <!--<a class="medium screen only item" href="/services">Liste des cas services</a>-->
        <div class="right menu">
          
          <a href="/laconsultation.html" class="header item medium">LA CONSULTATION</a> 
          <a href="/espace.html" class="header item medium">NOTRE ESPACE</a> 
          <a href="/outils.html" class="header item medium">LES OUTILS</a> 
          <a href="/criteres.html" class="header item medium">LES CRITÈRES DE SÉLECTION</a> 
          <a href="/contact.html" class="header item medium">CONTACT</a> 
           <a href="index.html">             
            <img id="header-marianne" alt="Brand" src="/img/marianne.svg" width="80" height="50"></a>
       </div>

  <div  id="mobile-menu" class="ui dropdown">
  <div class="text">MENU</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    
    <a href="/laconsultation.html" class="item">LA CONSULTATION</a> 
    <a href="/espace.html" class="item">NOTRE ESPACE</a> 
    <a href="/outils.html" class="item">LES OUTILS</a> 
    <a href="/criteres.html" class="item">LES CRITÈRES DE SÉLECTION</a> 
    <a href="/contact.html" class="item">CONTACT</a> 

    </div>    
  </div>

        </nav>
      </header> 


      <main>
        <section id="mission-statement">
    <h3> La mission Etalab et les acteurs de la Civic Tech ont collaboré pour proposer aux administrations des outils de consultation citoyenne recommandés par l'État. Ces outils sont :</h3>
      <div class="ui container three column stackable grid">
          {% for item in site.data.bandeauhome %}
          <div class="column"><img class="ui image top-icons" src="/img/{{ item.image }}" alt="">{{ item.name }}</div>
          {% endfor %}
      </div>
</section>

<section id="home-des">
  <div class="ui container">
          <div class="ui grid stackable">
        <div class="height wide column">
    <h2>Pourquoi faire une consultation ?</h2>
   <p> La consultation citoyenne est un processus d’élaboration d’une décision publique par concertation et co-construction avec un public de participants. Les consultations peuvent être réalisées en ligne via l’utilisation d’outils participatifs dédiés à cet usage.
Nous avons construit pour vous, la démarche type à suivre pour mener une consultation en ligne de qualité :</p>    
    <a class="ui button moreButton" href="/laconsultation.html">Découvrez les bonnes pratiques</a>
  </div>
      <div class="height wide column">
    <img class="home-illustration" src="/img/consultation.svg" alt="Illustration Consultation">  
  </div>
  </div>
    </div>
</section>

<section id="home-des">
  <div class="ui container">
          <div class="ui grid stackable">
        <div class="height wide column">
        <img class="home-illustration" src="/img/plateforme.svg" alt="Illustration Plateforme">   
  </div>
      <div class="height wide column">
     <h2>Pourquoi cette plateforme ?</h2>
   <p> Consultation.gouv est un espace unique répertoriant les solutions de consultation ouvertes sur Internet labellisées par l'État. Les éditeurs sélectionnés mettent à disposition des organisations des solutions sur un premier niveau de service.
Consultation.gouv vous permet de déployer simplement ces solutions directement depuis la plateforme.</p>    
    <a class="ui button moreButton" href="/espace.html"> En savoir plus sur la plateforme</a>  
  </div>
  </div>
    </div>
</section>

<section id="usages">
  <h2> Les outils de consultation sélectionnés pour vous</h2>
<div class="ui container">
    <div class="ui four stackable cards">
        {% for outil in site.outil %}
        {% include outil-card.html description=outil %}
        {% endfor %}
    </div>
    </div>
</section>